<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kanban</title>
    <link rel="stylesheet" href="style/main.css">
    <script defer src="js/main.js"></script>
    <script defer src="js/vue.js"></script>
</head>
<body id="app">
    <header>

    </header>
    <input type="text" v-model="cerrentNote" class="input" @keyup.enter="addNote">
    <main>
        <div class="all_columns">
            <div class="column column1">
                <h4 class="column-title">Title</h4>
                <ul class="list" v-for="note in notes">
                    <li class="cart">
                        <button>=></button>
                        <button>x</button>

                    </li>

                </ul>
            </div>

            <div class="column column2">
                <h4 class="column-title">Title</h4>
                <ul class="list" v-for="note in notes">
                    <li class="cart">
                        <button>=></button>
                        <button>x</button>

                    </li>

                </ul>
            </div>

            <div class="column column3">
                <h4 class="column-title">Title</h4>
                <ul class="list" v-for="note in notes">
                    <li class="cart">
                        <button>=></button>
                        <button>x</button>
                    </li>

                </ul>
            </div>

            <div class="column column4">
                <h4 class="column-title">Title</h4>
                <ul class="list" v-for="note in notes">
                    <li class="cart">
                        <button>=></button>
                        <button>x</button>

                    </li>

                </ul>
            </div>

        </div>
    </main>
</body>
</html>