*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

body{
    background-image: url("../assets/bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}



.title{
    text-align: center;
    margin-bottom: 30px;
}

.input{

}

.all_columns{
    display: flex;
    flex-direction: row;

}

.column{
    margin: 0 auto;
    width: 350px;
    background-color: bisque;
    min-height: 700px;
    text-align: center;
    border-radius: 4%;
}

.cart{
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    width: 300px;
    height: 110px;
    list-style-type: none;
    margin-top: 10px;
    opacity: .90;
    border-radius: 10%;
}

.inputs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    margin-bottom: 20px;

}

.deadline{
    color: rgb(54, 54, 54);
}

.expired-deadline {
    background-color: red;
}

.on-time-deadline {
    background-color: green;
}